:root {
    --primary: rgb(28, 180, 53);
    --secondary: rgb(28, 180, 53);
    --primary-dark: rgb(7, 120, 26);
    --secondary-dark: rgb(7, 120, 26);
}

.header {
    font-family: "Press Start 2P", system-ui;
    font-size: 14px;
    letter-spacing: 2px;
    display: flex;
    justify-content: center; 
    align-items: center; 
    background: linear-gradient(135deg, var(--primary), var(--secondary-dark));
    height: 13vh;
    padding-top: 7px;
    color: white;
}

body {
    background-color: rgb(221, 248, 218);
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    text-align: center;
    align-items: center;
}

.task-form {
    text-align: center;
    margin-top: 35px;
}

.task-form label{
    margin-left: 10px;
    font-size: 25px;
    font-family: "Jersey 10", sans-serif;
    text-decoration: none;
}

.task-form select{
    width: 100px;
    height: 35px;
    border-radius: 7px;
    margin-bottom: 10px;
    font-size: 20px;
    font-family: "Jersey 10", sans-serif;
    text-decoration: none;
}

.task-form input {
    width: 800px;
    height: 40px;
    border-radius: 7px;
    margin-bottom: 10px;
    font-size: 30px;
    font-family: "Jersey 10", sans-serif;
    text-decoration: none;
    border: 2px solid transparent;
    outline: none;
}

.task-form input:focus {
    border: 2px solid var(--secondary);
}

.task-form button {
    background-color: var(--secondary);
    border:2px solid var(--secondary-dark);
    color: white;
    padding: 2px;
    font-family: "Jersey 10", sans-serif;
    font-size: 20px;
    text-decoration: none;
    border-radius: 10px;
    font-weight: normal;
    margin-top: 12px;
    margin-left: 5px;
    height: 33px;
    transition: all 0.3s ease;
}

.task-form button:hover {
    transform: translateY(-4px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.2)
}

.task-list {
    text-align: end;
    margin-top: 20px;
    background-color: var(--primary);
    border:2px solid var(--primary-dark);
    width: 700px;
    align-items: center;
    border-radius: 10px;
    justify-content: center;
    padding-top: 12px;
    padding-bottom: 12px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.3);
    backdrop-filter: blur(15px);
    margin-bottom: 70px;
}

.complete-btn {
    appearance: none;
    width: 20px;
    height: 20px;
    background-color: white;
    border: 2px solid var(--secondary-dark);
}

.complete-btn:checked {
    background-color: var(--secondary);
    display: flex;
    justify-content: center;
    align-items: center;
}

.complete-btn:checked::after {
    content: "✓";
    color:black;
    font-size: 14px;
}

.task-item {
    display:flex;
    width: 670px;
    border:2px solid var(--secondary);
    border-radius: 8px;
    background-color: white;
    margin: 13px;
    font-size: 1.6rem;
    flex-direction: row;
    transition: all 0.3s ease;
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}

.task-item-checked {
    display:flex;
    width: 670px;
    border:2px solid var(--primary-dark);
    border-radius: 8px;
    background-color: rgb(168, 221, 177);
    margin: 13px;
    font-size: 1.6rem;
    text-decoration: line-through;
    flex-direction: row;
    transition: all 0.3s ease;
    animation: completeAnim 0.3s ease;
}

.task-enter {
    opacity: 0;
    transform: translateY(-15px) scale(0.95);
}

.task-exit {
    opacity: 0;
    transform: translateX(60px) scale(0.9);
}

@keyframes completeAnim {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.03);
    }
    100% {
        transform: scale(1);
    }
}

.task-item:hover .delete-btn{
    display:block;
}

.task-item-checked:hover .delete-btn {
    display:block;
}

.task-left {
    display: flex;
    align-items: center;
    gap: 10px;
}

.task-sort button {
    background-color: var(--secondary);
    border:2px solid var(--secondary-dark);
    color: white;
    padding: 2px;
    font-family: "Jersey 10", sans-serif;
    font-size: 20px;
    text-decoration: none;
    border-radius: 10px;
    font-weight: normal;
    margin-left: 5px;
    height: 33px;
    transition: all 0.3s ease;
}

.task-sort button:hover {
    transform: translateY(-4px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.2)
}

.delete-btn {
    background-color: var(--primary-dark);
    color:white;
    margin-left: auto;
    display: none;
    border-radius: 10px;
    font-family: "Jersey 10", sans-serif;
}

.delete-btn:hover {
    background-color: rgb(20, 215, 62);
}

.completed span {
    text-decoration: line-through;
    opacity: 0.6;
}

.task-stats {
    display: flex;
    justify-content: space-between;
    background: rgb(177, 245, 185);
    padding: 12px;
    border-radius: 7px;
    margin-bottom: 20px;
    gap: 60px;
    font-family: "Jersey 10", sans-serif;
    font-size: 20px;
    text-decoration: none;
}

.task-sort {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}